@media only screen and (max-width: 1610px) {
 .we{
     max-width: 1px;
 }
 #particles-js{
    height: 946px;
    width: 1094px;
  
}
}
@media only screen and (max-width: 1370px) {
    .we{
        max-width: 1px;
        margin: 2% 0 4% 18%;
    }
    .aboutus>div:first-child {
       
        margin: 8% 6% 2% -20%;
    }
    #particles-js{
        height: 946px;
        width: 1094px;
      
    }
   }